.product__list {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  max-width: 100%;
  margin: 20px auto;

  &__header {
    &-good {
      color: #15a349;
    }
    &-bad {
      color: #e44e26;
    }
  }
}